@using Atbbank.WebUI.Controllers;

@{
    IndexViewModel model = Model;
    var card = model.cards;
    var usefulcard = model.UsefulCards;
    var slider = model.slider;
}

@{
    ViewData["Title"] = "Index";
}

    
    <div class="slider-container">
        @foreach(var item in slider)
    {
        <div class="mySlides fades">
            <img src="~/assets/images/@item.ImgSrc" style="width: 100%" />
            <div class="text">
                <h2>
                    @Html.Raw(@item.Title)
                </h2>
                <p>@item.Description</p>
                <button class="slider_btn subscribe">
                    <a href="~/@item.Url">@item.Btn</a>
                </button>
            </div>

        </div>
        
    }

    <div class="mySlides fades">
        <img src="~/assets/images/slider3.png" style="width: 100%" />
        <div class="text">
            <h2 id="atbfriday">
                atbfriday <br />
                istehlak kreditləri <br />
                11.5%-dən başlayaraq
            </h2>
            <button class="slider_btn subscribe">
                <a href= "~/atb_friday.html">sifariş</a>
            </button>
        </div>
    </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <br />
    <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>

<div class="maincontainer">
    <div class="Cards">
        <div class="row">
        @foreach( var item in card)
        {
            <div class="col-lg-3">
                <a href="~/@item.CardUrl">
                    <div class="cards">
                        <figure class="cards__item-image">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="47"
                                 height="47"
                                 viewBox="0 0 47 47"
                                 fill="none">
                                <path d="M25.3951 29.9278V28.9995C25.3951 28.2343 25.5495 27.5456 25.8584 26.9335C26.1673 26.3146 26.6072 25.8256 27.178 25.4663C27.7487 25.1069 28.427 24.9273 29.2126 24.9273C30.005 24.9273 30.6833 25.1069 31.2473 25.4663C31.8114 25.8256 32.2445 26.3146 32.5467 26.9335C32.8489 27.5456 33 28.2343 33 28.9995V29.9278C33 30.693 32.8456 31.3817 32.5367 31.9938C32.2345 32.606 31.8013 33.0951 31.2373 33.461C30.6732 33.8203 29.9983 34 29.2126 34C28.4135 34 27.7286 33.8203 27.1578 33.461C26.5937 33.0951 26.1572 32.606 25.8483 31.9938C25.5462 31.3817 25.3951 30.693 25.3951 29.9278ZM26.9765 28.9995V29.9278C26.9765 30.6797 27.1612 31.3218 27.5305 31.8541C27.9065 32.3798 28.4673 32.6426 29.2126 32.6426C29.9379 32.6426 30.4852 32.3798 30.8545 31.8541C31.2238 31.3218 31.4085 30.6797 31.4085 29.9278V28.9995C31.4085 28.2476 31.2272 27.6088 30.8646 27.0832C30.502 26.5509 29.9513 26.2847 29.2126 26.2847C28.4807 26.2847 27.9233 26.5509 27.5406 27.0832C27.1645 27.6088 26.9765 28.2476 26.9765 28.9995ZM15 18.0005V17.0722C15 16.307 15.1544 15.6183 15.4633 15.0062C15.7722 14.394 16.2121 13.9083 16.7829 13.549C17.3537 13.183 18.0319 13 18.8176 13C19.61 13 20.2882 13.183 20.8523 13.549C21.4163 13.9083 21.8495 14.394 22.1517 15.0062C22.4538 15.6183 22.6049 16.307 22.6049 17.0722V18.0005C22.6049 18.7657 22.4505 19.4577 22.1416 20.0765C21.8394 20.6887 21.4063 21.1744 20.8422 21.5337C20.2781 21.8931 19.6032 22.0727 18.8176 22.0727C18.0185 22.0727 17.3335 21.8931 16.7627 21.5337C16.1987 21.1744 15.7622 20.6887 15.4533 20.0765C15.1511 19.4577 15 18.7657 15 18.0005ZM16.5814 17.0722V18.0005C16.5814 18.7524 16.7661 19.3945 17.1354 19.9268C17.5115 20.4525 18.0722 20.7153 18.8176 20.7153C19.5428 20.7153 20.0901 20.4525 20.4594 19.9268C20.8288 19.3945 21.0134 18.7524 21.0134 18.0005V17.0722C21.0134 16.3203 20.8321 15.6816 20.4695 15.1559C20.1069 14.6236 19.5562 14.3574 18.8176 14.3574C18.0856 14.3574 17.5283 14.6236 17.1455 15.1559C16.7694 15.6816 16.5814 16.3203 16.5814 17.0722ZM15.9267 33.7205L30.099 13.2795H31.8819L17.7096 33.7205H15.9267Z"
                                      fill="black"></path>
                                <path d="M23.5 4.08832L29.5288 1L33.2059 6.6894L39.9711 7.02884L40.3114 13.7941L46 17.4712L42.9117 23.5L46 29.5288L40.3114 33.2059L39.9711 39.9712L33.2059 40.3106L29.5288 46L23.5 42.9117L17.4711 46L13.7941 40.3106L7.02882 39.9712L6.69017 33.2059L1 29.5288L4.0883 23.5L1 17.4712L6.69017 13.7941L7.02882 7.02884L13.7941 6.6894L17.4711 1L23.5 4.08832Z"
                                      stroke="black"
                                      stroke-width="1.5"
                                      stroke-miterlimit="10"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </figure>
                        <h2 class="cards__item-title">@item.Title</h2>
                        <div class="cards__item-desc">
                            <p>@item.Description</p>
                        </div>
                        <a href="#" class="cards__item-href"></a>
                    </div>
                </a>
            </div>
        }

        </div>
    </div>

    <div class="Calculation">
        <button class="subscribe" id="cash" onclick="OpenCash()">
            <div class="row">
                <div class="col-lg-6">
                    <i class="fa-solid fa-money-check-dollar"></i>
                </div>
                <div class="col-lg-6">
                    <p>nağd krediti hesabla</p>
                </div>
            </div>
        </button>
        <button class="subscribe" id="deposit" onclick="OpenDeposit()">
            <div class="row">
                <div class="col-lg-6">
                    <i class="fa-solid fa-vault"></i>
                </div>

                <div class="col-lg-6">
                    <p>əmanət üzrə gəliri hesabla</p>
                </div>
            </div>
        </button>

        <div class="cash_main" id="cash_main">
            <h2>nağd krediti hesabla</h2>
            <div class="cash">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cash_left">
                            <div class="main">
                                <div class="input">
                                    <input id="input1" type="text" />
                                    <p>hansı məbləğ arzunuzu reallaşdırar?</p>
                                </div>
                                <div class="range">
                                    <input id="range1"
                                           type="range"
                                           min="1"
                                           max="35000"
                                           value="0"
                                           step="1" />
                                </div>
                            </div>
                            <div class="main">
                                <div class="input">
                                    <input id="input2" type="text" />
                                    <p>müddəti seçin</p>
                                </div>
                                <div class="range">
                                    <input id="range2"
                                           type="range"
                                           min="1"
                                           max="59"
                                           value="0"
                                           step="1" />
                                </div>
                            </div>
                            <div class="main">
                                <div class="input">
                                    <input id="input3" type="text" />
                                    <p>faiz dərəcəsi (%)</p>
                                </div>
                                <div class="range">
                                    <input id="range3"
                                           type="range"
                                           min="11.9"
                                           max="20.9"
                                           value="0"
                                           step="0.1" />
                                </div>
                            </div>
                            <div class="main_last">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <label class="cus-checkbox__label">
                                            <input type="checkbox"
                                                   class="cus-checkbox__input"
                                                   checked="" />
                                            <span class="cus-checkbox__check"></span>
                                        </label>
                                    </div>
                                    <div class="col-lg-11">
                                        <p>
                                            "sifariş" düyməsini basaraq
                                            <u>
                                                <a href="~/security.html">müraciət qaydaları</a>
                                            </u>
                                            ilə razılaşmış olursunuz
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 cash_right">
                        <p>Bizim təklif</p>
                        <div class="info">
                            <p>Aylıq ödəniş</p>
                            <h2 id="pertotal">₼</h2>
                        </div>
                        <div class="info">
                            <p>Ümumi məbləğ</p>
                            <h2 id="total">₼</h2>
                        </div>
                        <div class="button">
                            <button id="button">hesabla</button>
                        </div>
                        <div class="button" id="cash_order_btn">
                            <button id="OpenCashOrder" onclick="OpenCashOrder()">
                                sifariş
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cash_order" id="cash_order">
            <h2>onlayn muraciət</h2>
            <p>istənilən məqsəd üçün nağd kredit</p>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text"
                           placeholder="kredit məbləği (maks. 30 000 azn)" />
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="kredit müddəti (48 ayadək)" />
                </div>
            </div>
            <div class="city">
                <select>
                    <option value="Şəhər">Şəhər</option>
                    <option value="Bakı">Bakı</option>
                    <option value="Şirvan">Şirvan</option>
                    <option value="Gəncə">Gəncə</option>
                    <option value="Naxçıvan">Naxçıvan</option>
                </select>
                <hr />
            </div>
            <p>şəxsi məlumat</p>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" placeholder="ad, soyad" />
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="fin kod" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input type="tel" placeholder="telefon" />
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="email" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" placeholder="iş yeri (qurumun adı)" />
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="kredit müddəti (48 ayadək)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" placeholder="iş stajı (ay)" />
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="rəsmi gəlit (rəqəmlə)" />
                </div>
            </div>
            <input type="text"
                   placeholder="digər banklara olan aylıq ödəniş (əgər varsa) və ya zaminlik" />

            <div class="cash_order_last">
                <div class="row">
                    <div class="col-lg-1">
                        <label class="cus-checkbox__label">
                            <input type="checkbox"
                                   class="cus-checkbox__input"
                                   checked="" />
                            <span class="cus-checkbox__check"></span>
                        </label>
                    </div>
                    <div class="col-lg-11">
                        <p>
                            məlumatlarımın Asan Finansdan əldə edilməsi və AKB reyestrində
                            sorğu edilməsinə razıyam
                        </p>
                    </div>
                </div>
            </div>

            <div class="button">
                <button id="button">sifariş</button>
            </div>

            <p>*bütün bəndlərin doldurulması mütləqdir</p>
        </div>

        <div class="deposit_main" id="deposit_main">
            <h2>əmanət üzrə gəliri hesablayın</h2>
            <div class=" deposit">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <select>
                                    <option value="valyuta">valyuta</option>
                                    <option value="AZN">AZN</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select>
                                    <option value="faizlərin ödənilməsi">
                                        faizlərin ödənilməsi
                                    </option>
                                    <option value="müddətin sonunda">müddətin sonunda</option>
                                    <option value="aylıq ödəniş">aylıq ödəniş</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <select>
                                    <option value="valyuta">müddət</option>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <input type="text"
                                       placeholder="məbləğ (min. 1000 AZN/USD)*" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 deposit_interest">
                        <div class="periodly d-none">
                            <p>faizlər - müddətin sonunda</p>
                            <p>9% - 1.50 AZN</p>
                        </div>
                        <div class="monthly">
                            <p>faizlər - aylıq</p>
                            <p>8% - 1.33 AZN</p>
                        </div>
                    </div>
                    <div class="button_deposit subscribe">
                        <button type="button"
                                id="OpenDepositOrder"
                                onclick="OpenDepositOrder()">
                            sifariş et
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="deposit_order" id="deposit_order">
            <h2>müraciəti doldurun</h2>

            <div class="row">
                <div class="col-lg-6">
                    <input type="text" placeholder="ad, soyad" />
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="fin kod" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input type="tel" placeholder="telefon" />
                </div>
            </div>
            <div class="deposit_order_last">
                <div class="row">
                    <div class="col-lg-1">
                        <label class="cus-checkbox__label">
                            <input type="checkbox"
                                   class="cus-checkbox__input"
                                   checked="" />
                            <span class="cus-checkbox__check"></span>
                        </label>
                    </div>
                    <div class="col-lg-11">
                        <p>
                            məlumatlarımın Asan Finansdan əldə edilməsi və AKB reyestrində
                            sorğu edilməsinə razıyam
                        </p>
                    </div>
                </div>
            </div>

            <div class="button">
                <button id="button">sifariş</button>
            </div>

            <p>*bütün bəndlərin doldurulması mütləqdir</p>
        </div>
    </div>

    <div class="Currency">
        <div class="row">
            <div class="col-lg-6">
                <div class="currency_exchange">
                    <h2 class="title-block">valyuta məzənnəsi</h2>
                    <div class="update">
                        <div class="row">
                            <div class="col-lg-10">
                                <p>yeniləndi 06:12, 10.12.2023</p>
                            </div>
                            <div class="col-lg-2">
                                <a href="">ətraflı</a>
                            </div>
                        </div>
                    </div>
                    <div class="exchangerates-table">
                        <table class="ratestb">
                            <thead>
                                <tr>
                                    <th rowspan="1"></th>
                                    <th rowspan="1"></th>
                                    <th colspan="1">alış</th>
                                    <th colspan="1">satış</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="flag">
                                        <img decoding="async"
                                             width="28"
                                             height="20"
                                             src="https://atb.az/wp-content/uploads/2023/01/US.svg"
                                             class="attachment-full size-full entered lazyloaded"
                                             alt=""
                                             data-lazy-src="https://atb.az/wp-content/uploads/2023/01/US.svg"
                                             data-ll-status="loaded"
                                             data-uw-rm-alt-original="" /><noscript>
                                            <img decoding="async"
                                                 width="28"
                                                 height="20"
                                                 src="https://atb.az/wp-content/uploads/2023/01/US.svg"
                                                 class="attachment-full size-full"
                                                 alt="" />
                                        </noscript>
                                    </td>
                                    <td class="currency">USD</td>
                                    <td class="rate" id="vl"><span>1.6985</span></td>
                                    <td class="rate"><span>1.7025</span></td>
                                </tr>
                                <tr>
                                    <td class="flag">
                                        <img decoding="async"
                                             width="28"
                                             height="20"
                                             src="https://atb.az/wp-content/uploads/2023/01/EU.svg"
                                             class="attachment-full size-full entered lazyloaded"
                                             alt=""
                                             data-lazy-src="https://atb.az/wp-content/uploads/2023/01/EU.svg"
                                             data-ll-status="loaded"
                                             data-uw-rm-alt-original="" /><noscript>
                                            <img decoding="async"
                                                 width="28"
                                                 height="20"
                                                 src="https://atb.az/wp-content/uploads/2023/01/EU.svg"
                                                 class="attachment-full size-full"
                                                 alt="" />
                                        </noscript>
                                    </td>
                                    <td class="currency">EUR</td>
                                    <td class="rate" id="vl"><span>1.8130</span></td>
                                    <td class="rate"><span>1.8550</span></td>
                                </tr>
                                <tr>
                                    <td class="flag">
                                        <img decoding="async"
                                             width="28"
                                             height="20"
                                             src="https://atb.az/wp-content/uploads/2023/09/frame-32.svg"
                                             class="attachment-full size-full entered lazyloaded"
                                             alt=""
                                             data-lazy-src="https://atb.az/wp-content/uploads/2023/09/frame-32.svg"
                                             data-ll-status="loaded"
                                             data-uw-rm-alt-original="" /><noscript>
                                            <img loading="lazy"
                                                 decoding="async"
                                                 width="28"
                                                 height="20"
                                                 src="https://atb.az/wp-content/uploads/2023/09/frame-32.svg"
                                                 class="attachment-full size-full"
                                                 alt="" />
                                        </noscript>
                                    </td>
                                    <td class="currency">GBP</td>
                                    <td class="rate" id="vl"><span>2.1200</span></td>
                                    <td class="rate"><span>2.1760</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="currency_calc">
                    <div class="currency_info">
                        <div class="row">
                            <div class="col-lg-2">
                                <i style="font-size: 3rem" class="fa-solid fa-wallet"></i>
                            </div>
                            <div class="col-lg-6">
                                <h2>valyuta kalkulyatoru</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="currency_calculation">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="number"
                                               id="amount-one"
                                               placeholder="0"
                                               value="1" />
                                    </div>
                                    <div class="col-lg-4">
                                        <select id="currency_calculation-one">
                                            <option value="AZN">AZN</option>
                                            <option value="USD" selected>
                                                <span>USD </span>
                                            </option>
                                            <option value="EURO"><span>EURO</span></option>
                                            <option value="GBP"><span>GBP</span></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="cross_arrow">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-1 d-none">
                            <div class="swap-rate-container">
                                <button class="btn" id="swap">Swap</button>
                                <div class="rate" id="rate"></div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="currency_calculation">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="number" id="amount-two" placeholder="0" />
                                    </div>
                                    <div class="col-lg-4">
                                        <select id="currency_calculation-two">
                                            <option value="AZN" selected>AZN</option>
                                            <option value="USD"><span>USD </span></option>
                                            <option value="EURO"><span>EURO</span></option>
                                            <option value="GBP"><span>GBP</span></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Usefull_Card">
        <div class="row">
            @foreach(var item in usefulcard)
            {
                <div class="col-lg-6">
                    <div class="Usefull_Card_One">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>
                                    @Html.Raw(@item.Title)
                                </h2>
                                <a href="~/atb_card.html">@item.Btn</a>
                            </div>
                            <div class="col-lg-6">
                                <img src="~/assets/images/@item.ImgSrc" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="News">
        <h2>bankımızın xəbərləri</h2>
        <div class="row">
            <div class="col-lg-3">
                <div class="news_box">
                    <h3>
                        <a href="~/atb_friday.html">
                            Azər Türk Bank “atb friday” kampaniyasının müddətini uzatdı
                        </a>
                        <p>07.12.2023</p>
                    </h3>
                    <p>
                        Dövlət bankı Azər Türk Bank müştərilərin istəyini nəzərə alaraq,
                        onlar üçün sərfəli "atb friday" kampaniyasının müddətini...
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="news_box">
                    <h3>
                        <a href="~/atb_card_visa.html">
                            atb Visa kartı ilə Samsung məhsullarına 10% endirim
                        </a>
                        <p>01.12.2023</p>
                    </h3>
                    <p>
                        Yeni il ərəfəsində özünə və ya yaxınlarına texnika hədiyyə etmək
                        istəyənlər üçün əla fürsət olacaq. Belə ki, Azər Türk Ba...
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="news_box">
                    <h3>
                        <a href="~/atb_friday.html">
                            Azər Türk Bank “atb friday” kampaniyasını davam etdirir
                        </a>
                        <p>29.11.2023</p>
                    </h3>
                    <p>
                        Dövlət bankı Azər Türk Bank bu günlərdə başladığı "atb friday"
                        kampaniyası çərçivəsində fiziki şəxslərə illik faiz dərəcə...
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="all_news_box">
                    <h3>
                        <a href="~/all_news.html">bütün xəbərləri oxu</a>
                    </h3>
                    <i id="all_news_icon" class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>

</div>
